.welcoming {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50%;
    padding: 5px;
    transform: translate(0%, -50%);
}
.name {
    text-align: center;
}
.name > p {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}
.name > h1 {
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: white;
}
.changing-text {
    text-align: center;
    margin: 30px;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.459);
    border-bottom: 1px solid rgba(255, 255, 255, 0.473);

}
.change:before {
    content: "W";
    animation: text 2s infinite 0s;
    animation-direction: alternate-reverse;


}
@keyframes text {
    0% {
        content: "W";
    }
    9% {
        content: "We";
    }
    18% {
        content: "Web";
    }
    27% {
        content: "Web ";
    }
    36% {
        content: "Web D";
    }
    45% {
        content: "Web De";
    }
    54% {
        content: "Web Des";
    }
    63% {
        content: "Web Desi";
    }
    72% {
        content: "Web Desig";
    }
    81% {
        content: "Web Design";
    }
    90% {
        content: "Web Designe";
    }
    100% {
        content: "Web Designer";
    }
}
.socials {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.socials > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    margin: 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: ease-in 0.2s;
    background-color: rgba(0, 255, 255, 0.068);
}
.socials > a:hover {
    background-color: rgba(226, 84, 84, 0.356);
}